<h1>Pagina del chat</h1>
<p>Bienvenido <span id="userName"></span></p>

<input type="text" placeholder="Ingresa el mensaje" id="inputMsg"/>
<button id="sendMsg">Enviar</button>

<div id="chatPanel"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/home.js"></script>