<h1>Pagina home</h1>
<form method="post" action="/api/users/login">
    <input type="email" name="email" placeholder="Correo de usuario" />
    <input type="password" name="password" placeholder="contraseña de usuario" />
    <button>Iniciar sesión</button>
</form>