<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/{{style}}"/>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    {{{body}}}
    <footer>Pie de página</footer>
</body>
</html>