<h1>Olvidaste tu Contraseña?</h1>

<p>Ingresa tu correo electronico</p>
<form action="/api/sessions/forgot-password" method="post">
    <input type="email" placeholder="Correo electronico" name="email"/>
    <br/>
    <button>Enviar link a mi correo</button>
</form>