<h1>Pagina Registro</h1>

<p style="color:red">{{error}}</p>

<form method="post" action="/api/sessions/signup">
    <input type="text" name="first_name" placeholder="Tu nombre"/>
    <br/><br/>
    <input type="email" name="email" placeholder="Tu Correo"/>
    <br/><br/>
    <input type="password" name="password" placeholder="Tu Contraseña"/>
    <br/><br/>
    <button>Registrarse</button>
</form>