<h1>Página del home</h1>

{{#each payload}}
    <div>Nombre del producto: {{this.title}} <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button></div>
{{/each}}

<script src="/js/home.js"></script>