<h1>Restablece tu Contrase単a</h1>

<p style="color:red">{{error}}</p>

<br/>
<p>Ingresa tu nueva Contrase単a</p>
<form action="/api/sessions/reset-password?token={{token}}" method="post">
    <input type="password" placeholder="Nueva contrase単a" name="newPassword" />
    <button>Restablecer contrase単a</button>
</form>